.login {
    align-items: center;
}
.content1{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;  
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 1em;
    border-radius: 10%;
    background-color: #271e70;
    box-shadow: inset;
}
.header{
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
    color: beige;
    align-self: center;
    text-align: center;
    margin-left: 0;
    width: 90%;
    margin-top: 0.4rem;
}

.form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 40px;
   
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
    text-align: center;
    color: beige;
}

input {
    font-family: "Open Sans", sans-serif;
    border-radius: 4px;
    width: auto;

}

.imaL{
    width: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
.footer {
    display: flexbox;
    margin-top: 0.5em;
    padding: 2em;
    align-content: center;
    align-items: center;
}
.btn{
    width: 85%;
    border-radius:4px;
    font-family: "Open Sans", sans-serif;
    background-color:#fbb040;
    font-style: bold;
    color: beige;
    font-size: 1em;
    align-self: center;
    margin-left: 8%;
    margin-right: 0;
    
}

.mensajeL{
    color: red;
}

.provedor1{
    flex-wrap: wrap;
    margin-bottom: 1em;
    font-size: 30px;
    background-color: blue;
    color: white;
    font-family: "Open Sans", sans-serif;
    align-items: center;
    vertical-align: middle;

}


.google-btn {
  width: 40%;
  height: 42px;
  background-color: rgb(6, 103, 248);
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
  margin-bottom: 10px;
}
.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: white;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: white;
    font-size: 14px;
    letter-spacing: 0.1px;
    font-family: "Roboto";
  }
  :hover {
    box-shadow: 0 0 6px rgb(6, 103, 248);
  }
  .btn-text:active {
    background-color: rgb(250, 0, 217);
  }


@import url(https://fonts.googleapis.com/css?family=Roboto:500);

@media (max-width:1100px){
    .content1{
        width: 60%;

    }
.btn-text{
    font-size: 14px;

}

}

@media (max-width:835px){

    .content1{
        width: 70%;

    }
.header {
    font-size: 50px;

}

.btn-text{

    font-size: 14px;

}

}

@media(max-width:550px){
    .content1{
        width: 80%;

    }
.btn{
    width: 60%;
    margin-left: 20%;

}
.btn-text{
    font-size: 10px;
    width: 50%;


}

}