body{
    background-color: #fbb040;

}

.login{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30em;  
    margin-top: 5em;
    background-color: #271e70;
}
.header{
    font-size: 50px;
    font-family: "Open Sans", sans-serif;
    color: beige;
}

.form {
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label {
    font-size: 40px;
   
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    color: beige;
    
}

input {
    margin-top: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    background-color:white ;
    border: 0;
    border-radius: 4px;
    margin-bottom: 31px;
    transition: all 250ms ease-in-out;
}
.imaL{
    width: 8em;
    margin-left: 5em;
    
}
.footer {
    margin-top: 0.5em;
    padding: 2em;
}
.btn{
    width: 14em;
    border-radius:4px;
    font-family: "Open Sans", sans-serif;
    background-color:#fbb040;
    font-style: bold;
    color: beige;
    font-size: 1em;
    
}

