.contenedor {

    align-self: center;
    margin-left: auto;
    margin-top: auto;

}

.carousel{
    display: block;
    margin-left: 20%;
    margin-right: auto;
}

.carousel:slide {
    margin: auto;

}

.carousel-item :active{

    margin-left: auto;
    margin-right: auto;

}