/* Testing Navbar */
.navbar{
    display: flex;
    justify-content: center;
    background-color: black;
}
.topnav {
    background-color: #000;
    display: flex;
    justify-content: center; 
    align-items: center;
}

.topnav a{
    float: left;
    color: #fff;
    text-align:center;
    cursor: pointer;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a:active{
    border-bottom: 3px solid #fda65d;
}

.ima{
    position: fixed;
}

.logo {
    height: 3.8rem;
}

.login{
    border-radius: 22px;
    background: orange;
    padding: 20px;
}

.sign-out{
    border-radius: 22px;
    background: orange;
    padding: 20px;
}

 /* End testing */

 