.Lista1{
    margin-top: 5em;
    margin-left: 60em; 
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

li.lh {
    float: left;
    border-right: 1px solid #bbb;
    background-color: #fff;
    width:5cm;
    height: 1cm;
}

li.lh:first-child{
    border-top-left-radius: 2cm;
    border-bottom-left-radius: 2cm;
}
li.lh:last-child{
    border-right: none;
    border-top-right-radius: 2cm;
    border-bottom-right-radius: 2cm;
}
li.lh:first-child a{
    border-top-left-radius: 2cm;
    border-bottom-left-radius: 2cm;
}

li.lh:last-child a{
    border-top-right-radius: 2cm;
    border-bottom-right-radius: 2cm;
}
li.lh a:hover {
    background-color:gray;
    width: 4cm;
    height: 1cm;

}

a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
    align-items: center;
    width: 4cm;
    position: absolute;
    bottom: 0.09cm;

    text-align: center;
}

.barra1{

    position: absolute;
    top:2em;
    left: 60em;
}
.barra2{
    position: absolute;
    top:2em;
    left:30em;
}